html,
body {
    height: 100%;
    font-family: "微软雅黑";
    overflow: hidden;
    font-size: 10px;
}

a {
  text-decoration: none;
}
.wrap {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
}

.header {
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid grey;
  background-color: rgb(74, 74, 74);
  color: #fff;
  font-size: 1.5rem;
}

.main {
  background-color: #f4f1ef;
}

.content {
  height: calc(100% - 20px);
  box-sizing: content-box;
  font-size: 1.6rem;
  padding: 25px 25px 0 25px;
  overflow-y: auto;
  overflow-x: hidden;
}

.footer {
  border-top: 1px solid gray;
  height: 70px;
  width: 100%;
  text-align: center;
  line-height: 70px;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  margin-right: 10px;
}

.nav .logo {
  font-size: 3rem;
  line-height: 50px;
  text-align: center
}

.nav {
  background-color: #32C2CD;
}

.nav .el-menu {
  height: 100%;
  border: none;
}

.nav .el-menu-item,
.nav .el-submenu__title {
  font-size: 1.6rem;
  height: 50px;
  line-height: 50px;
}

.el-submenu__title:hover {
  background-color: rgb(141, 223, 219) !important
}

.el-menu--vertical .el-menu--popup-right-start,
.el-menu-item {
  height: 50px;
  line-height: 50px;
}

.el-menu--vertical .el-menu--popup {
  padding: 0;
}

.el-menu-item:hover {
  border-left: 5px solid rgb(194, 59, 228);
  background-color: rgb(141, 223, 219) !important
}

.el-tooltip,
.el-submenu__title {
  padding: 0 17px !important;
}

.el-menu--collapse .el-submenu .el-submenu__title > span{
    display: none
}

.el-menu--collapse .el-submenu .el-submenu__title > i{
    display: none
}

.bar {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  font-size: 2.5rem;
  box-sizing: content-box;
  border-bottom: 1px solid rgb(156, 154, 154);
  box-shadow: rgb(201, 199, 199) 10px;
}

.bar .el-breadcrumb {
  color: #000 !important;
  line-height: 50px;
  font-size: 1.8rem;
}

.el-breadcrumb__inner {
  font-size: 1.6rem;
}

.el-breadcrumb__inner a,
.el-breadcrumb__inner.is-link {
  color: #32c2cd !important;
  font-weight: 500 !important;
}

.el-breadcrumb__inner {
  color: #000 !important;
}

.el-menu--collapse {
  width: 50px !important;
}

#main_animationClose {
  animation: main_animationClose 0.2s linear forwards;
}

#nav_animationClose {
  animation: nav_animationClose 0.2s linear forwards;
}

@keyframes nav_animationClose {
  from {
    width: 200px;
  }
  to {
    width: 50px;
  }
}

@keyframes main_animationClose {
  from {
    width: calc(100% - 200px);
  }
  to {
    width: calc(100% - 50px);
  }
}

#main_animationOpen {
  animation: main_animationOpen 0.2s linear forwards;
}

#nav_animationOpen {
  animation: nav_animationOpen 0.2s linear forwards;
}

@keyframes nav_animationOpen {
  from {
    width: 50px;
  }
  to {
    width: 200px;
  }
}

@keyframes main_animationOpen {
  from {
    width: calc(100% - 50px);
  }
  to {
    width: calc(100% - 200px);
  }
}

.el-dropdown {
  text-align: right;
  line-height: 50px;
}

.el-breadcrumb__separator {
  font-weight: normal !important;
  color: #000 !important;
}

.my-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 500px;
    margin-top: 20px;
}
.my-row .my-col-1{
    width: 100%;
}
.my-row .my-col-2{
    width: 49.5%;
}
.my-row .my-col-3{
    width: 32.5%;
}
.my-row .my-col-4{
    width: 24.5%;
}
.my-row .my-col-1, .my-row .my-col-2, .my-row .my-col-3, .my-row .my-col-4{
    background: #fff;
    border-radius: 20px;
    transition: .5s;
}
.my-tools{
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    margin: 0 30px;
}
.my-tools .my-title{
    font-size: 2rem;
}
.my-tools .el-radio-group{
    line-height: 50px;
}